.card-form {
  padding: 20px;
}

.card-form-no-hover {
  &:hover {
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.2);
  }
}

.input-dropdown {
  width: 196px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.input-field-text-black {
  color: black;
}

.settings {
  color: white;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.font-weight-normal {
  font-weight: normal;
}

.padding-right {
  padding-right: 10px;
}

.margin-right {
  margin-right: 10px;
}

.flex-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}
