<div class="polyglot-navbar">
  <div class="logo">
      Polyglot
  </div>

  <div class="right-align">
    <div class="links">
      <div class="active"><%= link_to "Dashboard", "#" %></div>
      <div><%= link_to "Settings", "#" %></div>
    </div>
    <div class="profile">
      <%= image_tag "https://avatars2.githubusercontent.com/u/38472180?v=4", class: "img-circle"%>
    </div>
  </div>
</div>
