
<!--
<div class="call-container">
  <div id="remote-video-container">
    <div id="video_overlays">
      <video id="local-video" autoplay></video>
    </div>
  </div>
</div>
 -->



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr />
<div>
  <span class="text-color" style="display:none">Random User ID:</span>
  <span id="current-user" class="text-color" style="display:none"><%= rand(0..10000) %></span>
</div>

<button onclick="handleJoinSession()">
  Join Room
</button>

<button onclick="handleLeaveSession()">
  Leave Room
</button>
