<div class="container">
  <div class="contacts-container text-color">
    <div class="contacts half">
      <h2>Contacts</h2>
      <% 5.times do %>
        <%= render "pages/contact" %>
      <% end %>
    </div>
    <div class="video-feed half">
      <div class="video-content">
        <!-- <video id="contacts-video" autoplay=""></video> -->
      </div>
    </div>
  </div>
</div>




