<div class="card">
  <div class="profile img-circle">
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="">
  </div>
  <div class="info">
    <h3>FirstName LastName</h3>
    <p>Last call: <%= Date.now %></p>
  </div>
  <div class="call">
    <i class="fas fa-phone"></i>
  </div>
</div>
