<div class="container">
  <div class="contacts">
    <h2>Contacts</h2>
    <% 5.times do %>
      <%= render "layouts/contact" %>
    <% end %>
  </div>
  <div class="video-feed">
    <video src=""></video>
  </div>
</div>




